doctype html
html
  head
    title Saminder Singh
    style
      include ../Static/style.css
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap" rel="stylesheet">
  body
    script(src='../Static/javascript.js')
    div.searchbox 
      input(type="text" placeholder="Search Here")  
    div#Nav-Container
      div#Sub-Container
       div#logo
        h2 S2
        
       nav 
        ul#naviteam
       
         li #[a(href='/') Home]  
         li #[a(href='/') About]  
         li #[a(href='/') Contact]  
         li #[a(href='/') Service]
         li   
          a.Search(href='/')
            img.open(src="../Static/clipart2020073.png")
            img.close(src="../Static/pngcross.jpg")
    section#introSection
       h1 Life is one grand, sweet song so start the music   
       button#btn LEARN MORE 
    section#About
      h2 About
      p Lorem ipsum dolor sit, amet c Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque impedit, quas est illum, animi cumque, voluptatem sit rem  onsectetur adipisicing elit. Culpa alias libero, quae, distinctio aut rerum reiciendis dignissimos cumque voluptas animi excepturi quos voluptate commodi accusamus. Nesciunt eveniet reiciendis aspernatur, natus repudiandae asperiores deserunt id
      div#firstbox
       h2 JOIN OUR SUBSCRIPTION TODAY ! 
         img(src="../Static/27463-7-intel-smart-earbuds-thumb.png", alt="")
       div#secondbox
        div#thirdbox
         div#fourthbox
          div#fifthbox
           h3 Explore the world 
            p Lorem ipsum dolor sit Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sapiente sit ratione maxime, excepturi eius reprehenderit officia aliquam assumenda, quia eveniet minima sunt? amet consectetur adipisicing elit. Doloremque perspiciatis facilis fugit?
            button#btn LEARN MORE
